.imgBlock {
    border: 1px solid #000;
    width: 68%;
    padding: 10px;
    border-radius: 10px;
}

.imgBlock img {
    border-radius: 10px;
    max-height: 600px;
}

img {
    width: 100%;
}

.imgUrl {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.imgUrl input {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
