.filterParams {
    width: 30%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs label {
    margin-bottom: 10px;
}

.inputs + .inputs {
    margin-top: 15px;
}

.btn {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(26, 32, 49);
    margin-top: 30px;
    outline: none;
    cursor: pointer;
}

.btn:disabled {
    background-color: rgb(135, 135, 161);
}